<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Client Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Client to test InvoiceRestAPI</h1>
</div>

<!-- Contact Form - START -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">Get Invoice</span>
                <div class="col-md-8">
                    <input id="invoiceId" name="InvoiceID" type="text" placeholder="mongo_id" class="form-control">
                    <button class="btn btn-primary btn-md mt-2">get</button>
                </div>
                <span class="col-md-1 col-md-offset-2 text-center response" id="getInvoiceTitle">Response</span>
                <div class="col-md-8">     
                    <textarea disabled="true" id="getInvoiceResponse" class="response col-md-8"></textarea>
                </div>
            </div>
            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">Enter a valid json invoice</span>
                <div class="col-md-8">
                    <textarea class="form-control" id="invoice" name="InvoiceContent" placeholder="valid json" rows="7"></textarea>
                    <button class="btn btn-primary btn-md mt-2" id="submitPostButton">Post</button>
                </div>
                <span class="col-md-1 col-md-offset-2 text-center response" id="postInvoiceTitle">Response</span>
                <div class="col-md-8">
                    <textarea disabled="true" id="postInvoiceResponse" class="response col-md-8"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Form - END -->

</div>

</body>
</html>